$primary-background-colour: #fefbea;
$secondary-background-colour: #D8A7B1;
$border: 2px solid green;
$h1-font-size: 32px;
$secondary-border: 1px solid grey;
$primary-border: 2px solid green;
$margin-for-desktop: 50px;
$padding-for-desktop: 10px;