@import '../variables.scss';


.employee__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-for-desktop;
    margin: $margin-for-desktop;
    // border: 2px solid green;

    &__nav {
        justify-content: space-around;
        background-color: $secondary-background-colour;
        border-radius: 6px;
        border: $secondary-border;

        &-link {
            background-color: $secondary-background-colour;
        }
        &-button {
            // border-radius: 3px;
            // border: $secondary-border;
            background-color: transparent;
        }
    }
}

.employee__content{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:10px;
    // 5 on row by 2 column
    // each employee card itself will be display:flex -column
    &-card{
        display:flex;
        flex-direction: column;
        border: 2px solid orange;
        &__name, &__role { // Separate selectors with a comma
            text-align: left;
        }
        &__counter{
            // border:2px solid blue;
            display: flex;
            flex-direction: column;
            margin: 10px;
            justify-content: center;
            align-items: center;
            border: 2px solid green;
            &-buttons{
                display:flex;
                // border: 2px solid yellow;
                justify-content: center;
            }
        }

    }
}



@media screen and (min-width: 768px) {
    .employee__content{
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}